.nwsr{
  font-size: 30px;
}
@media screen and (max-width:1300px) {
  .navLists{
    flex-direction: column;
    align-items: baseline;
  }
}
@media screen and (max-width:1243px) {
  .cards , .prevNext{
      max-width: 90vw;
    }
.containerBox{
max-width: 100vw;
}
  
}

@media screen and (max-width:1210px) {
  .bcards{
    padding-top: 35px;
  }
}
@media screen and (max-width:995px) {
    .navbarflex{
        display: flex;
        flex-direction: row;
      }
      .cardSize{
        width: 100vw;
        left: 0;
        margin: auto;
        overflow: hidden;
      }
    
    
    }
@media screen and (max-width:991px) {
          .bcards{
        top: 0px;
        padding-top: 0;
      }
    
 
}
@media screen and (max-width:680px) {
  .hr1 hr , .hr2 hr{
    display: none;
}
}
@media screen and (max-width:680px) {
  .contain{
    padding-top: 0;
  }
  .contain div {
    padding: 50px 0;
}
  .cp{
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .newsreader{
    font-size: 25px;
  }
}
@media screen and (max-width:330px) {
  .nwsr{
    font-size: 20px;
  }
}



