.hr{
    max-width: 1100px;
    margin: auto;
    margin-top: 105px;
    margin-bottom: 35px;
}
body{
    background-color: whitesmoke;
}
.containerBox{
    bottom: 0;
    max-width: 100vw;
    background-color: #DCD9D4;
    background:#000;
    background-image: linear-gradient(to left, #302f2f 0%, rgba(0, 0, 0, 0.353) 100%);
 border-top: 2px solid grey;
 color: white;
 font-family: var(--font2);
}
.main{
}


/* NAVBAR */

 .btns{
    display: flex;
    flex: 1;
    justify-content: flex-end;
 }
 .pcbtns form{
    display: flex;
 }
button{
     margin: 0 15px;
 }


/* DROP DOWN */

.dropdown{
background-color: black;
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
}

.dropdown a{
    display: block;
    color:white;
    text-decoration: none;
}

/* FOOT */

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-top: 45px;
}
.contain div{
    padding: 15px 0;
}
.pow{
    opacity: 0.6;

}
.media{
    display: flex;
    justify-content: space-between;

}
.media a {
    margin: 0 15px ;
    font-size: 30px;
    text-decoration: none;
}
.media a i {
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
    opacity: 0.6;

}
.media a i:hover{
    transform: scale(1.5);
    opacity: 1;
}
.mail a{
    font-size: 15px;
}
.fa-instagram:hover{
    color:#e1306c;
}
.fa-github:hover{
    color:white;

}
.fa-linkedin:hover{
    color:#0a66c2;

}
.fa-whatsapp:hover{
    color:#2db950;

}
.fa-envelope:hover{
    color:rgb(0, 106, 255);

}
.hrs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr1 hr , .hr2 hr{
    color: white;
    width: 25vw;
    background-color: white;
    overflow: hidden;
    opacity: 0.3;
}
.cp span{
    opacity: 0.6;

}
.aa{
    opacity: 1;
    color: white;
    text-decoration: underline;
    text-decoration-color:white ;
    text-underline-offset: 5px;

}
.aa:hover{
    text-decoration: none;
    color: #ff004f;
    text-decoration: underline;

    text-decoration-color:white ;
    text-underline-offset: 5px;
}




/*  NEWS */
.bcards{
    margin: auto;
   margin-top: 90px;
  }